<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{/layout/default}">
	
<th:block layout:fragment="title">
	<title> 숫자맞추기 </title>
</th:block>

<th:block layout:fragment="css">
	<link rel="stylesheet" type="text/css" th:href="@{/css/numberGame.css}">
</th:block>

<th:block layout:fragment="customScript">
	<script>
		/* 초기화 */
		let init = function(){
			
			let min = 1;
			let max = 99;
			
			let index = Math.floor((Math.random() * (max - min + 1)) + min); // 랜덤한 값을 index에 저장
			
			/* 회차 초기화 */
			$('#game_count').html('');
			
			return index;
			
		}
		
		/* 카운트 */
		let playCount = function(clickCount){
			if(clickCount == 10){
				$('#game_input').remove();
				$('#game_board').prepend('<span> 게임이 종료되었습니다. </span><br>'+
										 '<span> 초기화를 통해 새로운 게임을 진행해주세요. </span><br>')
			}
		}
		
		/* 정답 맞추기 */
		let upAndDown = function(correct, playValue){
			let spanHtml = '';
			
			if(correct > playValue){
				spanHtml += '<span id="red">UP</span>'
			}else if(correct < playValue){
				spanHtml += '<span id="blue">DOWN</span>'
			}else if(correct == playValue){
				spanHtml += '<span id="green">정답</span>'
				$('#game_input').remove();
				$('#game_board').prepend('<span> 게임이 종료되었습니다. </span><br>'+
										 '<span> 초기화를 통해 새로운 게임을 진행해주세요. </span><br>')
				
			}
			
			return spanHtml;
		}
		
		/* check - null, value */
		let check = function(playValue){
			let errMsg = ''
			
			if(playValue == ''){
				errMsg += '빈칸입니다..';
			}else if(playValue > 99){
				errMsg += '99를 초과했습니다..';
			}else if(playValue < 0) {
				errMsg += '0이하입니다..';
			}
			
			return errMsg;
		} 
		
		let reset = function(){
			location.reload();
		}
	</script>
	<script>
		$(document).ready(function() {
			let correct = init();
			let clickCount = 0;
			let playValue = 0;
			let spanHtml = '';		//up down correct
			let errMsg = '';
			
			$('#solBtn').click(function(){
				
				playValue = $('#solNum').val();
				spanHtml = upAndDown(correct,playValue);
				errMsg = check(playValue);
				clickCount++;
				
				if(errMsg != ''){
					alert(errMsg);
				}
				
				$('#game_count').append(clickCount + '회째  입력값 - '+ playValue +'  ' + spanHtml + '<br>')
				
				
				playCount(clickCount);
				$('#solNum').val('') // 입력후 input칸 초기화
			})
			
			
		})
	</script>
</th:block>

<th:block layout:fragment="contents">
	<div id="game_title">
		<b3>숫자 맞추기 게임</b3>
	</div>
	<br>
	<div id="game_rule">
		※ 게임 규칙
		<br> <span class="rule">1.</span> 사용되는 숫자는 1 ~ 99이며, 게임 시작시 랜덤한 숫자가 정해집니다.
		<br> <span class="rule">2.</span> 정답보다 낮은수가 입력되면 <span id="red">Up</span>, 
										    높은 수가 입력되면 <span id="blue">Down</span> 이 출력됩니다.
		<br> <span class="rule">3.</span> 1~99외의 숫자를 입력하면 에러메시지가 출력되며, 횟수는 차감됩니다.
		<br> <span class="rule">4.</span> 총 10회의 기회가 주어지며, 정답을 맞추면 승리합니다.
		<br> <span class="rule">5.</span> 초기화 버튼을 클릭하면, 게임이 새롭게 시작됩니다.
	</div>
	<br>
	
	<div id="game_board">
		<div id="game_input">
			숫자 입력 => 
			<input type="number" id="solNum" maxlength="2" min="1" max="99"> &ensp; <button type="button" id="solBtn">맞추기</button><br>
		</div> 
		<button id="reset" type="button" onclick="reset()">초기화</button>
	</div>
	<br>
	<div id="game_correct">
		입력된 숫자
		<div id="game_count">
		
		</div>
	</div>
</th:block>
</html>