@charset "UTF-8";

#game_title {
	font-size: 30px;
	text-align: center;
	margin: auto;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	margin: auto;
	text-align: center;
}

#game_rule {
	text-align: center;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	margin: auto;
	width: 50%;
}

#game_rule {
	text-align: center;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	margin: auto;
	width: 50%;
}

#game_board {
	text-align: center;
	width: 50%;
	border: 3px solid green;
	padding: 10px;
	margin: auto;
	width: 50%;
}

#game_board input {
	margin-top: 20px;
	padding: auto;
	width: 40px; 
	text-align: center;
}

#game_board button {
	margin-top: 30px;
}

#game_board small {
	color: silver;
}