<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:fragment="headFragment">

	<!-- Meta -->
	<meta charset="UTF-8">
	
	<!-- Title -->
	<th:block layout:fragment="title"></th:block>
	
	<!-- css -->
	<th:block layout:fragment="css"></th:block>
	
	<!-- Script -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<th:block layout:fragment="customScript"></th:block>
	
</head>
</html>