<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	
<head th:replace="fragments/head :: headFragment">

</head>
<body>
	<!-- header section -->
	<div th:replace="fragments/header :: headerFragment"></div>
	
	<div style="padding-top: 50px; padding-bottom: 50px;">
		<th:block layout:fragment="contents"></th:block>
	</div>
	<!-- footer section -->
	<div th:replace="fragments/footer :: footerFragment"></div>
</body>
</html>